<section class="feature">
  <div class="feature__swiper swiper ">
    <div class="feature__swiper-wrapper swiper-wrapper">
       <div class="swiper-slide">
         <div class="feature__slide-wrapper">
            <div class="feature__slide-img">
              <picture>
                <source srcset="./img/feature-img1.avif" type="image/avif">
                <source srcset="./img/feature-img1.webp" type="image/webp">
                <img loading="lazy" src="./img/feature-img1.png" class="feature__image" width="98" height="103" alt="">
              </picture>
            </div>
            <h3 class="feature__slide-title">Naxly as the Winners in Global Agency Awards</h3>
            <p class="feature__slide-text">Lorem ipsum is placeholder text commonly used in print, and publishing industries for previewing layouts and visual mockups.
            </p>
         </div>
       </div>
       <div class="swiper-slide">
        <div class="feature__slide-wrapper">
           <div class="feature__slide-img">
             <picture>
               <source srcset="./img/feature-img2.avif" type="image/avif">
               <source srcset="./img/feature-img2.webp" type="image/webp">
               <img loading="lazy" src="./img/feature-img2.png" class="feature__image" width="98" height="103" alt="">
             </picture>
           </div>
           <h3 class="feature__slide-title">Expert Prespective Agency Awards</h3>
           <p class="feature__slide-text">Lorem ipsum is placeholder text commonly used in print, and publishing industries for previewing layouts and visual mockups.
           </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="feature__slide-wrapper">
           <div class="feature__slide-img">
             <picture>
               <source srcset="./img/feature-img3.avif" type="image/avif">
               <source srcset="./img/feature-img3.webp" type="image/webp">
               <img loading="lazy" src="./img/feature-img3.png" class="feature__image" width="98" height="103" alt="">
             </picture>
           </div>
           <h3 class="feature__slide-title">Business Prespective Global Agency Awards</h3>
           <p class="feature__slide-text">Lorem ipsum is placeholder text commonly used in print, and publishing industries for previewing layouts and visual mockups.
           </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="feature__slide-wrapper">
           <div class="feature__slide-img">
             <picture>
               <source srcset="./img/feature-img4.avif" type="image/avif">
               <source srcset="./img/feature-img4.webp" type="image/webp">
               <img loading="lazy" src="./img/feature-img4.png" class="feature__image" width="98" height="103" alt="">
             </picture>
           </div>
           <h3 class="feature__slide-title">Value for Results in Global Agency Awards</h3>
           <p class="feature__slide-text">Lorem ipsum is placeholder text commonly used in print, and publishing industries for previewing layouts and visual mockups.
           </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="feature__slide-wrapper">
           <div class="feature__slide-img">
             <picture>
               <source srcset="./img/feature-img5.avif" type="image/avif">
               <source srcset="./img/feature-img5.webp" type="image/webp">
               <img loading="lazy" src="./img/feature-img5.png" class="feature__image" width="98" height="103" alt="">
             </picture>
           </div>
           <h3 class="feature__slide-title">Global Experience in Agency Awards</h3>
           <p class="feature__slide-text">Lorem ipsum is placeholder text commonly used in print, and publishing industries for previewing layouts and visual mockups.
           </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="feature__slide-wrapper">
           <div class="feature__slide-img">
             <picture>
               <source srcset="./img/feature-img2.avif" type="image/avif">
               <source srcset="./img/feature-img2.webp" type="image/webp">
               <img loading="lazy" src="./img/feature-img2.png" class="feature__image" width="98" height="103" alt="">
             </picture>
           </div>
           <h3 class="feature__slide-title">Naxly as the Winners in Global Agency Awards</h3>
           <p class="feature__slide-text">Lorem ipsum is placeholder text commonly used in print, and publishing industries for previewing layouts and visual mockups.
           </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="feature__slide-wrapper">
           <div class="feature__slide-img">
             <picture>
               <source srcset="./img/feature-img3.avif" type="image/avif">
               <source srcset="./img/feature-img3.webp" type="image/webp">
               <img loading="lazy" src="./img/feature-img3.png" class="feature__image" width="98" height="103" alt="">
             </picture>
           </div>
           <h3 class="feature__slide-title">Naxly as the Winners in Global Agency Awards</h3>
           <p class="feature__slide-text">Lorem ipsum is placeholder text commonly used in print, and publishing industries for previewing layouts and visual mockups.
           </p>
        </div>
      </div>
    </div>
    <div class="feature__swiper-pagination swiper-pagination"></div>
  </div>
</section>
