<header class="header">
    <div class="header__wrapper">
      <div class="container header__fixed">
  <div class="logo">
    <img class="logo__img" src="./img/logo.svg" alt="logo">
    <span class="logo__name">Artificial Intelligence</span>
  </div>
  <nav class="header__navigation">
    <ul class="header__list">
      <li class="header__item">
        <a class="header__link-item" href="#">Home</a>
      </li>
      <li class="header__item">
        <a class="header__link-item" href="#">About</a>
      </li>
      <li class="header__item">
        <a class="header__link-item" href="#">Services</a>
      </li>
      <li class="header__item">
        <a class="header__link-item" href="#">Blog</a>
      </li>
      <li class="header__item">
        <a class="header__link-item" href="#">Contact</a>
      </li>
  </ul>
  </nav>
  <a class="btn" href="#">Sign In</a>
</div>
</div>
<div class="container">
  <div class="header__wrapper-content">
    <div class="header__content">
      <p class="header__title-suptext">Next genaretion platform</p>
      <h1 class="header__title">Artificial intelligence & Syber security</h1>
      <p class="header__text">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
      <div class="header__btns">
        <a class="header__btn btn" href="#">Get Started</a>
        <a class="header__btn btn" href="#">Watch Video</a>
      </div>
    </div>
  <div class="header__content-img">
    <picture>
      <source srcset="./img/main-img.avif" type="image/avif">
      <source srcset="./img/main-img.webp" type="image/webp">
      <img loading="lazy" src="./img/main-img.png" class="image" width="632" height="634" alt="main-img">
    </picture>
  </div>
</div>
  <div class="header__hero-area">
    <img loading="lazy" src="./img/company1.svg" class="image" width="217" height="58" alt="company">
    <img loading="lazy" src="./img/company2.svg" class="image" width="212" height="58" alt="company">
    <img loading="lazy" src="./img/company3.svg" class="image" width="206" height="58" alt="company">
    <img loading="lazy" src="./img/company4.svg" class="image" width="294" height="58" alt="company">
  </div>

  </div>
</header>

